<app-side-bar></app-side-bar> <!-- Sidebar siempre visible -->
<div class="d-flex flex-column min-vh-100">
  <header class="navbar navbar-expand-lg navbar-white">
    <a class="navbar-brand">/</a>
    <img src="assets/logo.png" alt="Logo" class="ml-5 img-fluid" style="max-height: 40px;">
    <!-- Dropdown en la esquina superior derecha -->
    <div class="ml-auto dropdown">
      <span class="icon">👤</span>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownUser" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"> Usuario Apellido
        <i class="fas fa-user"></i> <!-- Ícono de usuario -->
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUser">
        <a class="dropdown-item" href="#">Perfil</a>
        <a class="dropdown-item" href="#">Configuraciones</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Cerrar sesión</a>
      </div>
    </div>
</header>

  <div class="content flex-grow-1 ml-sidebar"> <!-- Ajuste para que el contenido se separe -->
    <router-outlet></router-outlet> <!-- Aquí se renderizan las vistas según las rutas -->
  </div>

  <app-footer></app-footer> <!-- Footer siempre visible -->
  </div>
