.container-fluid {
  }
  
  .card {
    height: 100%; /* Asegura que las cards ocupen toda la altura */
    margin: 20px 0; /* Espaciado */
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .info-content p {
    margin: 15px 0; /* Espaciado entre elementos */
  }
  
  .vertical-line {
    border-left: 1px solid #ccc; /* Línea divisoria */
    height: 100%; /* Extiende la línea a la altura de la columna */
    margin-left: 10px;
    margin-right: 10px;
  }
  